.root {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: #ffd700;
}

.label, .text-field, .password-field, .button {
    -fx-text-fill: #ffd700;
}

/* Bordo giallo per i campi di input */
.text-field, .password-field {
    -fx-background-color: #3a3a3a;
    -fx-border-color: #ffd700;
    -fx-border-width: 1;
}

/* Pulsanti con sfondo grigio medio e testo giallo */
.button {
    -fx-background-color: #444444;
    -fx-border-color: #ffd700;
    -fx-border-width: 1;
}

.button:hover {
    -fx-background-color: #636363;
    -fx-border-width: 3px;
    -fx-cursor: hand;
}

.selected-button {
    -fx-border-color: rgb(200, 200, 200);
    -fx-border-radius: 5px;
    -fx-border-width: 5px;
    -fx-background-color: rgb(190, 20, 0);
    -fx-text-fill: rgb(200, 200, 200);
}

.selected-button:hover {
    -fx-background-color: #8a0000;
    -fx-border-width: 5px;
    -fx-cursor: hand;
}

.table-view {
    -fx-background-color: #444444;
    -fx-border-color: #ffd700;
}

.table-column {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: white;
    -fx-border-color: white;
}

.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-max-height: 0;
}

.table-cell {
    -fx-alignment: CENTER;
}

.combo-box {
    -fx-background-color: #2e2e2e; /* dark grey background */
    -fx-border-color: #ffd700; /* yellow border */
}

.combo-box .text {
    -fx-font-size: 20px;
    -fx-fill: #ffd700;
    -fx-font-weight: bold;
}

.combo-box-popup .list-view {
    -fx-background-color: #2e2e2e;
    -fx-control-inner-background: #2e2e2e;
    -fx-text-fill: #ffd700;
}

.combo-box .arrow-button {
    -fx-background-color: #555555;
}

.combo-box .arrow {
    -fx-background-color: #ffd700;
}

.check-box .box {
    -fx-background-color: #232323;
    -fx-border-color: #ffd700;
}

/* colore della spunta */
.check-box:selected .mark {
    -fx-background-color: #ffd700;
}

/* colore del box selezionato*/
.check-box:selected .box {
    -fx-background-color: #171717;
    -fx-border-color: #ffd700;
}

.text-area {
    -fx-text-fill: #ffd700;
    -fx-background-color: #2e2e2e;
    -fx-control-inner-background: #2e2e2e;
    -fx-border-color: #ffd700;
    -fx-border-radius: 5px;
}

.progress-bar {
    -fx-accent: #ffd700;
    -fx-control-inner-background: #2e2e2e;
    -fx-border-color: #ffd700;
}

.scroll-content {
    -fx-background-color: #2e2e2e;
}

.scroll-pane {
    -fx-background-color: #ffd700;
    -fx-background-radius: 5px;
}

.scroll-pane .viewport {
    -fx-background-color: #1b1b1b;
    -fx-background-radius: 5px;
}

/* ScrollBar generale */
.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color: transparent; /* sfondo della barra */
    -fx-background-radius: 5px;
}

/* Thumb: la parte mobile */
.scroll-bar .thumb {
    -fx-background-color: #ffa600;
    -fx-background-radius: 5px;
}

/* Track: la pista */
.scroll-bar .track {
    -fx-background-color: #1b1b1b;
    -fx-background-radius: 5px;
}

/* Optional: hover effect */
.scroll-bar .thumb:hover {
    -fx-background-color: #c36200;
}

.scroll-bar .increment-button > .increment-arrow,
.scroll-bar .decrement-button > .decrement-arrow {
    -fx-background-color: #1b1b1b;
}

.scroll-bar .increment-button:hover,
.scroll-bar .decrement-button:hover {
    -fx-background-radius: 5px;
    -fx-background-color: #ffa600;
}


/*ListView*/
.list-cell {
    -fx-border-color: #ffcc41;
    -fx-border-width: 0.3px;
    -fx-text-fill: #ffcc41;
}

.list-cell:odd {
    -fx-background-color: #383838;
}

.list-cell:even {
    -fx-background-color: #2a2a2a;
}

.list-cell:hover {
    -fx-background-color: #ffd700;
    -fx-text-fill: #303030;
}

.list-view {
    -fx-background-color: #ffcc41;
}

.list-cell .text-field {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.list-cell .text-field:hover {
    -fx-background-color: #ffd700;
    -fx-text-fill: #303030;
}

