.root {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: #ffd700;
}

.label, .text-field, .password-field, .button {
    -fx-text-fill: #ffd700;
}

/* Bordo giallo per i campi di input */
.text-field, .password-field {
    -fx-background-color: #3a3a3a;
    -fx-border-color: #ffd700;
    -fx-border-width: 1;
}

/* Pulsanti con sfondo grigio medio e testo giallo */
.button {
    -fx-background-color: #444444;
    -fx-border-color: #ffd700;
    -fx-border-width: 1;
}

.table-view {
    -fx-background-color: #444444;
    -fx-border-color: #ffd700;
}

.table-column {
    -fx-background-color: #2b2b2b;
}

.combo-box {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: #ffd700;
    -fx-border-color: #ffd700;
}

.combo-box-popup .list-view {
    -fx-background-color: #2e2e2e;
    -fx-control-inner-background: #2e2e2e;
    -fx-text-fill: #ffd700;
}

.combo-box .arrow-button {
    -fx-background-color: #555555;
}

.combo-box .arrow {
    -fx-background-color: #ffd700;
}

